---
theme :
  name : default 
---
{% include JB/setup %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
  </head>

  <body>
    <div id="wrap">
     

      <div class="container">
        <div class="row">
        <div class="col-md-4">
          <header>
          <h1>{{ site.title }}</h1>
          <p>{{ site.tagline}}</p>
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
          {% include assignments %}
          
          <p><a href="{{ site.baseurl }}/">Syllabus</a></p>
          </header>
        </div>
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-4">
          <footer>
          <img src="{{ site.baseurl }}/assets/images/cunyj-logo.png" class="img-responsive" alt="CUNY Graduate School of Journalism" />
          <p>&copy; {{ site.course.semester }} {{ site.author.name }}</p>
          </footer>
        </div>
        
        </div><!-- /row -->
      </div><!-- /container -->

    </div><!-- /wrap -->


    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
